

.cabecalho1 {

    display: flex;
    background-color:dimgray ;
    color: darkgray;
    justify-content:space-evenly;
    padding: 5px;

}

.cabecalho2 {

    display: flex;
    justify-content: space-evenly;



}

.texto-cabecalho {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#pesquisar {

    background-color:white;
    color:blue;
    align-self: center;
    margin: 10px;
    padding: 10px;
    padding-left: 30px;
    border: solid 2px blue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    

}




#fale-conosco {

    background-color:limegreen;
    color:white;
    align-self: center;
    padding-left: 30px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#whatsapp {

    background-color:limegreen;
    color:white;
    align-self: center;
    padding-left: 30px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#acesso-rapido {

    background-color:rgb(117, 183, 185);
    color:white;
    align-self: center;
    padding-left: 30px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.links {

    background-color: rgb(19, 19, 131);
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


#cursos {

    display: flex;
    justify-content: center;
    margin: 100px;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(19, 19, 131)
}


.imagem-curso {

    display: flex;
    justify-content: center;

}

.img3 {

    margin: 30px;

}

.img4 {

    margin: 30px;

}

.img5 {

    margin: 30px;

}

.projetos {

    color: orange;
    position: relative;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left:70px;
    padding: 50px;
    overflow-x: hidden;
}

.robofei {

    position:relative;


}

.institucionais {

    display: flex;
    justify-content: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: gray;
}

#a {

    margin: 30px;


}