

h1 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border-style: solid;
    color:rgb(58, 55, 55)       


}


h3 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    right: 0px;

}

#ingredientes {

    background-color: whitesmoke;
    border: solid 2px gray;
    position: absolute;
    top:10px;
    left: 0px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#fundo {

    background-color:blanchedalmond;


}

ul , li {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;

}   

#materiais {

    background-color: whitesmoke;
    border: solid 2px gray;
    position: absolute;
    bottom:0px;
    right: 0px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}