body {
    background-image: url(fundo_snake.png);
    background-size:cover;
}

@font-face {
    font-family: 'pixel';
    src:local(pixel),  url(Retro\ Gaming.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'fonte-personalizada';
    src:local(fonte-personalizada), url(04B_30__.TTF);
    font-weight: 100;
}

#start {
    border-radius: 12px;
    border: 1px solid rgb(66, 92, 15);
    padding: 5px;
    font-size: xx-large;
    background:none;
    cursor: pointer;
    margin: 4px 2px;
    padding: 16px 32px;
    transition-duration: 0.4s;
    color: green;
    background-color: yellowgreen;
    font-family: 'pixel';
}

#start:hover {
    color: rgb(66, 92, 15);
}

canvas {
    border: 1px solid yellowgreen;
    background-color: rgb(66, 92, 15);
    border-radius: 12px;
}

#centralizar {
    display: flex;
    justify-content: center;
}

h1 {
    font-family:'pixel';
    border: 1px solid lightslategray;
    border-radius: 12px;
    padding: 5px;
    width: 25%;
    padding: 2px;
    color: rgb(186, 197, 207);
    background-color: #555;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 125px;

}

li a {
    display: block;
    color: rgb(186, 197, 207);
    padding: 8px 16px;
    font-family: 'pixel';
}

li a:hover {
    background-color: #555;
    color: white;
    font-family: 'pixel';
}

