body {
    background-image: url(fundo_sobre.gif);
    background-size: cover;
}

@font-face {
    font-family: 'pixel';
    src:local(pixel),  url(Retro\ Gaming.ttf);
    font-weight: 100;
}

@font-face {
    font-family: 'fonte-personalizada';
    src:local(fonte-personalizada), url(04B_30__.TTF);
    font-weight: 100;
}

#imagem {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family:'fonte-personalizada';
    
}

#eu {
    text-align: center;
    font-family: 'pixel';
    background-color:darkviolet;
}

img {

    border: 2px solid black;
    border-radius: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 125px;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    font-family: 'pixel';
}

li a:hover {
    background-color:darkviolet;
    color:fuchsia;
    font-family: 'pixel';
}

