<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/carros" method="get">
        <button type="submit">Entrar</button>
    </form>
    <a href="/cadastro">Cadastrar-se</a>    

</body>
</html>