<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="resposta_usuario.css" rel="stylesheet">
    <a href="cadastro.html">Voltar</a>
</head>
<body>

  <p id="centralizar"> <%= resposta %></p>

  
</body>
</html>