    
    
    
    
    
    h1{color: red;}

        div p{font-size: 20pt;}



        
        #p1{color: blue
        
        }
        
        #p2{color: blue
        
        }
        
        #p3{color:white
        
        }
        
        #p4{color:white
        
        }

    
    
        .classe_exemplo{background-color: black;
        
        }
    
        #id_exemplo{background-color: black;
        
        }

        a:visited{color:coral;
        
        }
        
        a:hover{color:darkblue;
        
        }
        
        div p:hover{background-color: grey;
        
        }
    